
h1{
	border-bottom: solid;
	width:800px;
	font-family:"Bookman Old Style","Times New Roman";
	font-size: 30px;
	color: black;
}


th,
td{
	text-align: left;
}

body{

	width: 800px;
	position: center;
	margin-left:220px;
	border: solid;
	border-color:black;
	height:1339px;
	box-shadow: 5px 5px 5px grey; 
	text-align: justify;
}


section{
	float: left;
	width:450px;
	font-family:"Bookman Old Style","Times New Roman";
	font-size: 14px;
}

header{
	height:280px;
	background-color: green;
	
}

header.text{
	width:550px;
	margin-left: 10px;
	text-align: justify;
}

p.details{
	width: 480px;
	text-align: justify;
}

p.title{
	width:400px;
	float:left;
	text-decoration: underline;
	font-weight: bold;
	clear:both;
}

p.date{
	float:right;
	width:110px;
	font-weight: bold;
}


div.details{
	width:550px;
	float: right;
}

img{
	width: 200px;
	height:250px;
	border-radius:20px;
}


h3{
	color: black;
	width:200px;
	text-decoration: underline;
	float:left;
	height:90px;
	border-right: solid;
	border-color: black;
	text-align: center;
	font-size:18px;

}



.main{
	width:800px;
	background-color: white;
}


.cape{
	float: right;
}

.cxc{
	float: left;
}


.image{
	position: absolute;
	left:800px;
	top:20px;
	width: 200px;
	height:250px;
	-ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
	float: right;
}

